<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OleViewDotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <OleViewDotNet.Properties.Settings>
      <setting name="DbgHelpPath32" serializeAs="String">
        <value>dbghelp.dll</value>
      </setting>
      <setting name="DbgHelpPath64" serializeAs="String">
        <value>dbghelp.dll</value>
      </setting>
      <setting name="SymbolPath" serializeAs="String">
        <value>srv*https://msdl.microsoft.com/download/symbols</value>
      </setting>
      <setting name="SymbolsConfigured" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GuidFormat" serializeAs="String">
        <value />
      </setting>
      <setting name="ParseStubMethods" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResolveMethodNames" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyParserResolveSymbols" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ParseRegisteredClasses" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ParseClients" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ParseActivationContext" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabasePath32" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabasePath64" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableSaveOnExit32" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSaveOnExit64" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableLoadOnStart32" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableLoadOnStart64" serializeAs="String">
        <value>False</value>
      </setting>
    </OleViewDotNet.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>