<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OleViewDotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
	<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
 <userSettings>
  <OleViewDotNet.Properties.Settings>
   <setting name="DbgHelpPath32" serializeAs="String">
    <value>dbghelp.dll</value>
   </setting>
   <setting name="DbgHelpPath64" serializeAs="String">
    <value>dbghelp.dll</value>
   </setting>
   <setting name="SymbolPath" serializeAs="String">
    <value>srv*https://msdl.microsoft.com/download/symbols</value>
   </setting>
   <setting name="SymbolsConfigured" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GuidFormat" serializeAs="String">
    <value />
   </setting>
  </OleViewDotNet.Properties.Settings>
 </userSettings>
</configuration>
